.label-container {
	width: 6in;
	height: 1.5in;
	background: url("./label_bg_test.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.label-container span {
	position: absolute;
}

.label-container span.serial_num {
	top: 56px;
	left: 90px;
	font-size: 10px;
	color: #333;
}

.label-container span.date_of_build {
	left: 93px;
	top: 72px;
	font-size: 9px;
	color: #333;
}

.label-container span.prod_id {
	top: 87px;
	left: 86px;
	font-size: 8px;
	color: #333;
}
